.inputContainer {
    /* border: 1px solid var(--border); */
    height: 50px;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    
}

.inputContainer svg {
    font-size: 14px;
    width: 16px;
    height: 16px;
    color: var(--muted-foreground);
}

.hourContainer {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    height: 45px;
    padding: 10px;
    border-radius: 5px;

}

.hourContainer span {
    letter-spacing: 0.8px;
    font-size: 14px;
}

.hourContainer svg {
    margin-right: 5px;
}
.timeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.timeContainer span{
    margin-left: 5px;
    margin-right: 5px;
 
}


.timeInput {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border);
    

}
.timeSmallInput {
    overflow: hidden;
    height: 42px;
    width: 40px;
    text-align: center;
    border-right: 1px solid var(--border);
    
}



.timeSmallInput:focus {
    border: none;
    outline: none; 
  }



.arrows {
    display: flex;
    flex-direction: column;
}

.arrows button:nth-child(1) {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-top-right-radius: 20px;
}

.arrows button:nth-child(2) {
    border-bottom-right-radius: 5px;
}

.arrows button {
    height: 50%;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--muted-foreground);
}
.arrows button svg {
    width: 14px;
    height: 14px;
}