.status {
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    display: block;
    width:100px;
    text-align: center;
}


.statusActive {
    background-color: #2AC769;
}

.statusToBe {
    background-color: #FF7E8D;
}



.ticketUnderline {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
}

.stringifyText {
    max-width: 400px;
}