.avatar_wrapper {
	display: flex;
	/* min-width: 220px; */
}

.avatar {
	width: 34px;
	height: 34px;
	border-radius: 4px;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	color: white;
}

.avatar_details {
	display: flex;
}

.avatar_details>div p:first-child {
	margin-bottom: 7px;
}


.avatar_skeleton_text_top {
	height: 8px;
	width: 70px;
}

.avatar_skeleton_text_bottom {
	height: 8px;
	width: 30px;
}


.avatar_skeleton_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}