.home_page_container {
    height: 100vh;
}

.data_wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}
.data_container {
    width: 70%;
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--background);

   
}


.item_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.item_header {
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-sm);
  background-color: rgb(236, 235, 234);
  margin-top: 10px;
}

.item_body {
  margin-left: 20px;
  margin-top: 10px;
}
.item_header p {
  display: flex;

}
 
.item_body_container {
  gap: 10px;
}
.item_body_line {
  display: flex;
  padding: 4px;
  margin-bottom: 3px;
  width: 100%;
  background-color: #f3efef71;
}

.item_body_line p:nth-child(1) {
  margin-right: 5px;
}

.sub_item_container {
  display: flex;
  min-width: 180px;
  margin-right: 10px;
}



/* NEW TABLE */
.custom_report_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-top: 10px;
}
