.theme_switch {
    background-color: var(--card);
    color: var(--primary);
    width: 36px;
    height: 36px;
    /* border: 1px solid var(--primary); */
    border-radius: 4px; 
    outline: none;
    
  }
  .theme_switch > svg {
    color: var(--primary);
    font-size: 18px;
  }