.sidebar_inner {
    padding: 10px;
}

.sidebar_item_container {
    padding: 8px;
}




li.sidebar_item {
    
    user-select: none;
    --webkit-user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    font-size: var(--font-sm-md);
}


.sidebar_icon {
    background-color: var(--card);
    border-radius: var(--radius-sm);
    width: 34px;
    height: 34px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar_title {
    font-size: var(--font-sm-md);
    color: var(--foreground);
    letter-spacing: 1.2px;
}

.sidebar_item_start {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar_header  {
    font-size: var(--font-sm);
    color: var(--muted-foreground);
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
}

.sidebar_item > svg {
    width: 20px;
    color: var(--muted-foreground);
}


.subitems_container {
    margin-left: 14px;
    
}

.sidebar_subitem {
    padding-left: 8px;
    border-left: 2px solid var(--primary);
    position: relative;
    margin: 14px 0px;
    letter-spacing: 0.6px;
    font-size: var(--font-sm);
    color: var(--muted-foreground);
    letter-spacing: 1.2px;
}
