@tailwind base;
@tailwind components;
@tailwind utilities;


@import './_styles/dashboard_layout.css';

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
        --font-xs: 0.80rem;
        --font-sm: 0.875rem;
        --font-sm-md: 0.9375rem;
        --font-md: 1rem;
        --font-lg: 1.125rem;
        --font-xl: 1.5rem;
        --font-2xl: 1.75rem;
        --font-3xl: 2rem;
        --font-4xl: 2.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 40%;
        
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





body {
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(var(--foreground)));
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground));
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.space-y-2> :not([hidden])~ :not([hidden]) {
    margin-top: 0;
}

/* REGISTER */
.auth_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.auth_form_container {
    padding: 2rem;
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
    width: 450px;
}

.auth_brand {
    background-color: hsl(var(--foreground));
    padding: 2rem;
    flex-direction: column;
    align-items: space-between;
}

.register_text {
    margin-bottom: 2rem;
    text-align: center;
}

.register_text h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.register_text p {
    font-size: var(--font-sm);
    color: hsl(var(--muted-foreground));
}

.password_input {
    position: relative;
}

.password_icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    width: 1.2rem;
    color: hsl(var(--muted-foreground))
}

.register_divider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 10px 0;

}

.divider_line {
    width: 100%;
    height: 1px;
    background-color: hsl(var(--border));
}

.divider_text {
    font-size: 0.9rem;
    text-align: center;
    color: hsl(var(--muted-foreground));
}

.google_button {
    width: 100%;
    display: flex;
    align-items: center;
}

.google_button svg {
    margin-right: 10px;
    font-size: 20px;
}


.button_icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    color: gold;
}


.form_message {
    margin-top: 1rem;
    display: block;
    font-size: 13px;
}


.forgot_pass_container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.forgot_pass_container span {
    font-size: var(--font-sm);
    color: hsl(var(--muted-foreground));
    text-decoration: underline;
    cursor: pointer;
}

.go_back_link {
    text-align: center;
    font-size: var(--font-sm);
    color: hsl(var(--muted-foreground));
    text-decoration: underline;
}


.icon_btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}